# Ignore Python cache files
*.pyc
__pycache__/

# Ignore Chroma database folder
chroma_db/

# Ignore model files
local_model/

# Ignore audio cache folders
audio_cache/
*音频缓存*

# Ignore settings folders
.vscode/
.claude/

# Ignore my thought files
改善想法.txt

# Ignore environment files
.env

# Ignore virtual environment
.venv/

# Ignore 
conda_start.bat