# Ignore Python cache files
*.pyc
__pycache__/

# Ignore Chroma database folder
chroma_db/

# Ignore model files
local_model/

# Ignore audio cache folders
audio_cache/
*音频缓存*

# Ignore settings folders
.vscode/
.claude/

# Ignore plans
plans/

# Ignore environment files
.env

# Ignore virtual environment
.venv/

# Ignore others
conda_start.bat
backend_code/tts/voice_map.json
assets/